<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.example.zwx.textview" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EditTextActivity"
            android:label="@string/title_activity_edit_text" >
        </activity>
        <activity
            android:name=".AutoCompleteTextViewActivity"
            android:label="@string/title_activity_auto_complete_text_view" >
        </activity>
        <activity
            android:name=".ButtonActivity"
            android:label="@string/title_activity_button" >
        </activity>
        <activity
            android:name=".ImageButtonActivity"
            android:label="@string/title_activity_image_button" >
        </activity>
        <activity
            android:name=".CheckBoxActivity"
            android:label="@string/title_activity_check_box" >
        </activity>
        <activity
            android:name=".ToggleButtonActivity"
            android:label="@string/title_activity_toggle_button" >
        </activity>
        <activity
            android:name=".DatePickerActivity"
            android:label="@string/title_activity_date_picker" >
        </activity>
        <activity
            android:name=".SpinnerActivity"
            android:label="@string/title_activity_spinner" >
        </activity>
        <activity
            android:name=".ProcessBarActivity"
            android:label="@string/title_activity_process_bar" >
        </activity>
        <activity
            android:name=".RadioButtonActivity"
            android:label="@string/title_activity_radio_button" >
        </activity>
        <activity
            android:name=".MarqueeActivity"
            android:label="@string/title_activity_marquee" >
        </activity>
        <activity
            android:name=".MultiAutoCompleteTextViewActivity"
            android:label="@string/title_activity_multi_auto_complete_text_view" >
        </activity>
        <activity
            android:name=".layout.LinearLayoutActivity"
            android:label="@string/title_activity_linear_layout" >
        </activity>
        <activity
            android:name=".layout.RelativeActivity"
            android:label="@string/title_activity_relative" >
        </activity>
        <activity
            android:name=".layout.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
        </activity>
        <activity
            android:name=".layout.TableLayoutActivity"
            android:label="@string/title_activity_table_layout"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Intent.SActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Intent.FActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".application.CalculateActivity"
            android:label="@string/title_activity_calculate" >
        </activity>

        <!--
        内容提供者
        <provider
            android:authorities="com.example.mainfest.provider"
            />
        -->

        <activity
            android:name=".control.ListViewActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name=".control.CircleActivity"
            android:label="@string/title_activity_circle" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".control.BadgerActivity"
            android:label="@string/title_activity_badger" >
        </activity>
        <activity
            android:name=".control.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".control.AsyncActivity"
            android:label="@string/title_activity_async" >

        </activity>
        <activity
            android:name=".layout.HorizontalActivity"
            android:label="@string/title_activity_horizaontal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
